<template>
  <div>
    <Head title="Create User"/>
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/homes">Nhà Bán</Link>
      <span class="text-indigo-400 font-medium">/Thêm</span>
    </h1>

    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap md:p-8 p-3">
          <select-input v-model="form.district" :error="form.errors.district" class="pb-8 md:pr-6 w-full lg:w-1/2"  label="Địa chỉ">
            <option :value="index" v-for="(district, index) in districtHcm">{{district}}</option>
          </select-input>
          <select-input v-model="form.type" :error="form.errors.type" class="pb-8 md:pr-6 w-full lg:w-1/2"
                        label="Loại Nhà">
            <option :value="index" v-for="(typeHome,index) in this.types" :key="index">{{typeHome}}</option>
          </select-input>
          <text-input v-model="form.price" :error="form.errors.price" class="pb-8 md:pr-6 w-full lg:w-1/2"
                      label="Giá"/>
          <text-input v-model="form.horizontal" :error="form.errors.horizontal" type="text"
                      class="pb-8 md:pr-6 w-full lg:w-1/2" label="Chiều Ngang"/>
          <text-input v-model="form.vertical" :error="form.errors.vertical" type="text"
                      class="pb-8 md:pr-6 w-full lg:w-1/2" label="Chiều dọc"/>

          <select-input v-model="form.status" :error="form.errors.status" class="pb-8 md:pr-6 w-full lg:w-1/2"
                        label="Trạng thái">
            <option :value="0">Hoạt động</option>
            <option :value="1">Ẩn</option>
          </select-input>
          <div class="pb-8 md:pr-6 w-full w-full lg:w-1/2 ">
            <label class="form-label">Số điện thoại:</label>
            <vue3-tags-input :tags="form.phones"
                             :class="`${form.errors.phones ? 'form-input error' : 'form-input '}`"
                             :validate="customValidate"
                             @on-tags-changed="handleChangeTag"/>
            <div v-if="form.errors.price" class="form-error">{{ form.errors.phones }}</div>
          </div>
          <select-input v-model="form.direction" :error="form.errors.direction" class="pb-8 md:pr-6 w-full lg:w-1/2"
                        label="Phương Hướng">
            <option value="">Không Hướng</option>
            <option :value="index" v-for="(direction,index) in this.directions" :key="index">{{direction}}</option>
          </select-input>
          <textarea-input v-model="form.description" :error="form.errors.description" class="pb-8 md:pr-6 w-full w-full "
                          rows="4"
                          label="Mô tả"/>
          <file-input v-model="form.images" :error="form.errors.images" class="pb-8 md:pr-6 w-full w-full" type="file"
                      :multi="true"
                      accept="image/*" label="Ảnh"/>
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Thêm BDS</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>var tags;
import Vue3TagsInput from 'vue3-tags-input';
import {Head, Link} from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import FileInput from '@/Shared/FileInput'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import TextareaInput from "../../Shared/TextareaInput";
import Icon from "../../Shared/Icon";

export default {
  components: {
    Icon,
    TextareaInput,
    FileInput,
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    Vue3TagsInput
  },
  layout: Layout,
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        price: '',
        horizontal: '',
        vertical:'',
        district:'',
        address: '',
        type:'',
        phones: [],
        password: '',
        description: '',
        direction:'',
        status: 0,
        images: null,
      }),
    }
  },
  props:{
    districtHcm:Object,
    types: Object,
    directions: Object
  },
  methods: {
    store() {
      this.form.post('/homes')
    },
    handleChangeTag(tags) {
      this.form.phones = tags;
    },
    customValidate(value) {
      const regex = new RegExp(/^(0|\+84)\d{9,10}$/);
      return regex.test(value)
    }
  },

  computed: {
    formattedInputValue() {

      const value = parseFloat(this.form.price.replace(/,/g, ""));

      if (isNaN(value)) {
        return "";
      }
      const formatter = new Intl.NumberFormat("en-US");
      console.log(formatter.format(value))
      return formatter.format(value);
    },

  }
}
</script>
<style>
.v3ti{
  border-color:#9ca3af36;
}
.v3ti:focus,.v3ti:active, .v3ti:focus-visible{
  border-color: rgba(59, 130, 246, 0.5);
}
.v3ti .v3ti-new-tag{
  margin:0;
  height: unset;
}
</style>
