<template>
  <div>
    <Head title="Create User"/>
    <h1 class="mb-5 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/homes">Nhà Bán</Link>
      <span class="text-indigo-400 font-medium">/Sửa đổi</span>
    </h1>

    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="update">
        <div class="flex flex-wrap md:p-8 p-3">
          <select-input v-model="form.district" :error="form.errors.address" class="pb-8 md:pr-6 w-full lg:w-1/2"  label="Địa chỉ">
            <option :value="index" v-for="(district, index) in districtHcm">{{district}}</option>
          </select-input>
          <text-input v-model="form.horizontal" :error="form.errors.horizontal" type="text"
                      class="pb-8 md:pr-6 w-full lg:w-1/2" label="Chiều Ngang"/>
          <text-input v-model="form.vertical" :error="form.errors.vertical" type="text"
                      class="pb-8 md:pr-6 w-full lg:w-1/2" label="Chiều dọc"/>
          <div class="pb-8 md:pr-6 w-full lg:w-1/2">
            <label class="form-label" >Gia:</label>
            <input :class="`${form.errors.price ? 'form-input error' : 'form-input'}`"  type="text" id="input" v-model="form.price" >
            <div v-if="form.errors.price" class="form-error">{{ form.errors.price }}</div>
          </div>
          <select-input v-model="form.type" :error="form.errors.type" class="pb-8 md:pr-6 w-full lg:w-1/2"
                        label="Loại Nhà">
            <option :value="index" v-for="(typeHome,index) in types">{{typeHome}}</option>

          </select-input>
          <select-input v-model="form.status" :error="form.errors.status" class="pb-8 md:pr-6 w-full lg:w-1/2" label="Trạng thái">
            <option :value="0">Hoạt động</option>
            <option :value="1">Ẩn </option>
          </select-input>
          <div class="pb-8 md:pr-6 w-full lg:w-1/2">
            <label class="form-label">Số điện thoại:</label>
            <vue3-tags-input :tags="form.phones"
                             :class="`${form.errors.phones ? 'form-input error' : 'form-input'}`"
                             :validate="customValidate"
                             @on-tags-changed="handleChangeTag"/>
            <div v-if="form.errors.phones" class="form-error">{{ form.errors.phones }}</div>
          </div>
          <select-input v-model="form.direction" :error="form.errors.direction" class="pb-8 md:pr-6 w-full lg:w-1/2"
                        label="Phương Hướng">
            <option value="">Không Hướng</option>
            <option :value="index" v-for="(direction,index) in this.directions" :key="index">{{direction}}</option>
          </select-input>
          <textarea-input v-model="form.description" :error="form.errors.description" class="pb-8 md:pr-6 w-full lg" rows="6"
                          label="Mô tả"/>
          <file-input v-model="form.images" :error="form.errors.images" class="pb-8 md:pr-6 w-full " type="file"
                      :multi="true"
                      accept="image/*" label="Ảnh"/>
        </div>
        <div class="flex flex-wrap -mb-8 -mr-6 md:p-8 p-3" >
          <div class="pb-8 pr-6 w-full ">
            <div class="flex flex-wrap justify-center border border-dashed border-gray-400 md:p-5" v-if="imageList && imageList.length > 0 "  >
              <div class="w-6/12 sm:w-4/12 px-1 mt-2  group relative" v-for="(image,index) in this.imageList ">
                <img v-bind:src="'/storage/home-images/' + image.file_path"   class="shadow rounded max-w-full h-auto align-middle border-none h-full" />
                <div class="absolute inset-0 bottom-0  flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity cursor-pointer">
                  <icon name="trash" class=" w-6 h-6 fill-white z-10" @click="deleteImage(index,image.id)"/>

                  <div class="absolute inset-0 bg-gray-900 bg-opacity-25 hover:bg-opacity-50 transition duration-500 ease-in-out">
                  </div>

                </div>
                <!--              <p class="pt-2 absolute bottom-3 mr-auto">Người tải: {{image.user.first_name +" "+image.user.last_name}}</p>-->
              </div>

            </div>
          </div>
        </div>

        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <loading-button  class="btn-indigo mr-2" type="button" @click="onTopHandle">Làm mới </loading-button>
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Sửa BDS</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import FileInput from '@/Shared/FileInput'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import TextareaInput from "../../Shared/TextareaInput";
import Icon from '@/Shared/Icon'
import Vue3TagsInput from 'vue3-tags-input';
export default {
  components: {
    TextareaInput,
    FileInput,
    Icon,
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    Vue3TagsInput
  },
  layout: Layout,
  remember: 'form',
  props:{
    home: Object,
    images:Array,
    districtHcm:Array,
    types: Array,
    directions:Array
  },
  data() {
    return {
      form: this.$inertia.form({
        _method: 'put',
        price: this.home.price,
        district: this.home.district,
        horizontal: this.home.horizontal,
        vertical: this.home.vertical,
        type: this.home.type,
        address:  this.home.address,
        phones:  this.home.phone,
        status:  this.home.status,
        direction:this.home.direction,
        description:this.home.description,
        images: null,
        imagesOld: [],
      }),
      imageList:this.images

    }
  },
  methods: {
    update() {

      this.form.post(`/homes/${this.home.id}`)
      this.form.imagesOld = [];
    },
    deleteImage(index,id){

      const filesArray = this.imageList;
      let old = filesArray.splice(index, 1)
      this.imageList = filesArray;

      this.form.imagesOld.push(id);
    },
    handleChangeTag(tags) {
      this.form.phones = tags;
    },
    customValidate(value) {
      const regex = new RegExp(/^(0|\+84)\d{9,10}$/);
      return regex.test(value)
    },
    onTopHandle(){
      this.$inertia.post(`/homes/top/${this.home.id}`)
    }
  },
  computed: {
    formattedInputValue() {

      const value = parseFloat(this.form.price.replace(/,/g, ""));

      if (isNaN(value)) {
        return "";
      }
      const formatter = new Intl.NumberFormat("en-US");
      return formatter.format(value);
    }
  }
}
</script>
