input, select, textarea, button, div, a {
  &:focus, &:active {
    outline: none;
  }
}
.status-label {
    border-radius: .25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 500;
    line-height: 1.3;
    padding: .3em .7em .4em;
    text-align: center;
    vertical-align: baseline;

}
.label-success {
    background-color: #36c6d3;
    border: 1px solid #27a4b0!important;
}
.label-danger {
    background-color: #f1c40f;
    border: 1px solid #c29d0b!important;
}
