<template>
  <div>
    <div class="pt-16 pb-16 text-white hidden-xs "
         style="background-image: url('/images/breadcrumb-background.jpg');">
      <div class="description">
        <div class="w-90"><h1 class="text-center text-2xl mb-2">Khám phá các dự án của chúng tôi</h1>
          <p class="text-center">Chúng tôi đưa ra những lựa chọn tốt nhất với những dự án hot và uy tín bậc nhất hiện
            nay, hãy truy cập vào thông tin chi tiết bên dưới để tìm hiểu thêm nhé.</p>
          <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb"></ul>
        </div>
      </div>
    </div>
    <!--    <div class="md:p-5 bg-search mt-4 text-center">-->
    <!--      <h1>Chọn tài khoản khách hàng cần tìm kiếm. Chức năng này chỉ dành cho quản Lý</h1>-->
    <!--      <select  class="form-select mt-1 w-1/2 m-auto mt-4" @change="selectCustomer">-->
    <!--        <option value="">Khách Hàng</option>-->
    <!--        <option :value="index" v-for="(customer,index) in this.customers" :key="index">{{ customer }}</option>-->
    <!--      </select>-->
    <!--    </div>-->
    <div class="md:p-5 pt-0 bg-search mt-4 md:p-1  ">
      <div class="search-box-item bg-search">
        <div class="grid md:grid-cols-12 gap-2">
          <div class="bg-search md:col-span-5 sm:col-span-1">
            <div class="form-group ">
              <label class="control-label ">Từ khoá</label>
              <div class="relative mt-2">
                <input type="search" id="default-search" v-model="form.search"
                       class="block w-full form-input pr-9"
                       placeholder="Nhập vào từ khóa..." required>
                <div class="absolute inset-y-0 right-4 flex items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                       stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="bg-search md:col-span-4">
            <div class="relative ">
              <label class="form-label">Quận/Huyện:</label>
              <multiselect
                v-model="form.district"
                :multiple="true"

                placeholder="Tìm kiếm nhiều quận "
                :options="districtHcm">
              </multiselect>
            </div>
          </div>
          <div class="bg-search md:col-span-3 ">
            <label class="form-label">Phương Hướng:</label>
            <select v-model="form.direction" class="form-select mt-1 w-full">
              <option value="">Phương Hướng</option>
              <option :value="index" v-for="(direction,index) in this.directions" :key="index">{{ direction }}</option>
            </select>

          </div>

        </div>
        <div class="grid md:grid-cols-12 gap-2 mt-2">
          <div class="bg-search md:col-span-3">
            <label class="form-label">Loại Nhà:</label>
            <select v-model="form.type" class="form-select mt-1 w-full">
              <option value="">Loại Nhà</option>
              <option :value="index" v-for="(typeHome, index) in types" :key="index">{{ typeHome }}</option>
            </select>

          </div>
          <div class="bg-search md:col-span-2">
            <div class="w-full min-height">
              <label class="form-label"  >Từ ngày</label>
              <VueDatePicker v-model="form.from_date" format="dd/MM/yyyy" ref="datepicker"  @date-update="dateClicked"
                             :action-row="{ showNow: false, showPreview: false  }"></VueDatePicker>
            </div>
          </div>
          <div class="bg-search md:col-span-2">
            <div class="w-full min-height">
              <label class="form-label"  >Tới ngày</label>
              <VueDatePicker v-model="form.to_date" format="dd/MM/yyyy" ref="datepicker1"  @date-update="dateClicked1"
                             :action-row="{ showNow: false, showPreview: false  }"></VueDatePicker>
            </div>
          </div>
          <div class="bg-search md:col-span-1">
            <text-input type="text" v-model="form.horizontal"
                        class="  w-full" label="Chiều ngang"/>
          </div>
          <div class="bg-search md:col-span-1">
            <text-input type="text" v-model="form.vertical"
                        class="  w-full" label="Chều dọc"/>
          </div>
          <div class="bg-search md:col-span-1">
            <text-input type="text" v-model="form.from"
                        class="  w-full" label="Giá từ"/>
          </div>
          <div class="bg-search md:col-span-2">
            <div class="md:flex flex-nowrap items-center">
              <text-input type="text" v-model="form.to"
                          class="w-full sm:mb-4" label="Giá tới"/>
              <div class="md:mt-2">
                <button class="btn btn-primary btn-full h-10 md:ml-2 w-full" @click="searchHandler">Thiết lập lại
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md:p-5 bg-search mt-4 ">
      <div class="projecthome">
        <div class="flex justify-between">
          <div class="form-group__content">
            <div class="select--arrow">
              <select name="sort_by" id="showing" class="form-select" v-model="form.numberPaginate">
                <option value="">Số lượng hiển thị &nbsp</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="48">48</option>
                <option value="76">76</option>
                <option value="120">120</option>
              </select>
            </div>
          </div>
          <div class="form-group__content">

            <div class="select--arrow">
              <select name="sort_by" id="sort-by" class="form-select"
                      v-model="form.sortBy">
                <option value="">Mặc định</option>
                <option value="date_asc">Cũ nhất</option>
                <option value="date_desc">Mới nhất</option>
                <option value="price_asc">Giá: Thấp đến cao</option>
                <option value="price_desc">Giá: Cao đến thấp</option>
                <option value="name_asc">Tên: A-Z</option>
                <option value="name_desc">Tên: Z-A</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" mt-6">
      <div class="md:flex justify-between items-center mb-2">
        <h4 class="mb-3">Tìm thấy {{ properties.total }} trên tổng số: {{ total }} nhà </h4>
        <Link class="flex items-center focus:text-indigo-500 btn btn-primary" href="/wishlists/">
          Danh Sách Yêu Thích
        </Link>
      </div>

      <div class=" grid grid-cols-1 gap-x-6 gap-y-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

        <div class="group" v-for="property in properties.data" :key="property.id">
          <div @click="showDetail(property)"
               class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-search xl:aspect-h-8 xl:aspect-w-7 h-80 ">
            <img :src="property.image"
                 :alt="property.address"
                 loading="lazy"
                 class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <div class="bg-search p-2">
            <h3 class="mt-3 text-xl font-bold text-gray-900 capitalize">{{ property.address }}</h3>
            <div class="mt-1 text-base text-gray-700">
              {{ property.description }}
              <span class="label-success status-label mr-2" v-if=" property.direction">Hướng: {{
                  property.direction
                }}</span>
            </div>

            <p class="mt-1 text-base text-gray-700 flex items-center">
              <icon name="clock" class=" w-6 h-6 fill-white z-1"/> &nbsp;
              Ngày tạo: {{ property.date }}
            </p>
            <div class="mt-3 flex justify-between properties">
              <div class="flex flex-wrap bsd-info">
                <span
                  class="label-success status-label">Diện tích: {{ property.horizontal }} x {{
                    property.vertical
                  }}</span>
                <span class="label-success status-label">Giá: {{ property.price }}</span>
                <span class="label-success status-label" v-if="property.typename">Loại: {{
                    property.typename
                  }}</span>
              </div>
            </div>

            <div class="flex w-full mt-3 text-center ">
              <div class="label-success  mr-2  p-2 text-white text-center w-full" v-if="property.phones">Gọi ngay :
                <a class="text-green-800 font-bold" :href="`tel:${phone}`" v-for="(phone,index) in property.phones"
                   :key="index">{{ phone }} &nbsp;</a>
              </div>
              <button class=" btn btn-danger" @click="addToWish(property.id)">
                <icon name="hear" class="block  fill-white"/>
              </button>

            </div>
          </div>
        </div>
        <!-- More products... -->
        <div v-if="properties.data.length === 0">
          Không có kết quả tìm kiếm
        </div>
      </div>
      <pagination class="mt-6" :links="properties.links" v-model="form.numberPaginate"/>
    </div>

    <ModalDetail :isHome="true"  :isOpen="this.isDetail" @clicked="isDetail = !isDetail" :detail="detail"></ModalDetail>
  </div>
</template>

<script>
import {Head} from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import SearchFilter from '@/Shared/SearchFilter'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
import Pagination from '@/Shared/Pagination'
import mapValues from 'lodash/mapValues'
import pickBy from 'lodash/pickBy'
import throttle from 'lodash/throttle'
import Icon from "../../Shared/Icon";
import ModalDetail from "../../Shared/ModalDetail";
import Multiselect from 'vue-multiselect';
import {Link} from '@inertiajs/inertia-vue3'
import axios from 'axios'
import {toast} from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import moment from 'moment';
export default {
  components: {
    ModalDetail,
    Icon,
    SearchFilter,
    Head,
    SelectInput,
    TextInput,
    Pagination,
    Link,
    Multiselect,
    VueDatePicker
  },
  layout: Layout,
  props: {
    filters: Object,
    properties: Object,
    pagination: String,
    districtHcm: Array,
    total: Number,
    totalSearch: Number,
    types: Object,
    directions: Object,
    toast: {
      status: 'success',
      message: 'null'
    },
    customers: String
  },
  created() {
    if (this.customers){
      this.selectCustomer(this.customers)
    }

  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/search-home', pickBy(this.form), {preserveState: true})
      }, 1550),
    },
  },
  methods: {
    searchHandler() {
      this.form = mapValues(this.form, () => "")
    },
    reset() {
      this.form = mapValues(this.form, () => "")
    },
    containsNumbers(str) {
      let isNumber = /\d/.test(str);
      if (isNumber) {
        return str
      } else {
        return str.slice(5)
      }
    },
    selectCustomer(customer){

      // Handle the selected customer here
      let url = 'customers/get-info/'+ customer;
      axios.post(url).then(res=>{
        if(res.status === 200){
          let data = res.data;
          this.form.horizontal = data.horizontal;
          this.form.district = data.district.split(",");
          this.form.vertical = data.vertical;
          this.form.type = data.type;
          this.form.from = data.price ?? "";
        }
      })

    },
    showDetail(property) {
      this.detail = property;
      this.isDetail = true;
    },
    addToWish(id) {

      axios.post(`wishlist/add/${id}`).then(res => {
        if (res.data.error) {
          toast.error(res.data.msg, {
            theme: 'colored',
            autoClose: 2000,
          }); // ToastOptions
        } else {
          toast.success(res.data.msg, {
            theme: 'colored',
            autoClose: 2000,
          }); // ToastOptions
        }
      })

    },
    dateClicked(date){
      this.form.from_date = moment(date).format('YYYY-MM-DD');
      // Close the date picker menu
      if (this.$refs.datepicker) {
        this.$refs.datepicker.closeMenu();
      }
    },
    dateClicked1(date){
      this.form.to_date = moment(date).format('YYYY-MM-DD');

      // Close the date picker menu
      if (this.$refs.datepicker1) {
        this.$refs.datepicker1.closeMenu();
      }
    },
  },
  mounted() {
    // this.options = this.districtHcm.map((item,index) => ({
    //   name: item,
    // }));
    // console.log(this.options)
  },
  data() {
    return {
      form: {
        search: this.filters.search,
        district: this.filters.district,
        type: this.filters.type ?? "",
        horizontal: this.filters.horizontal,
        vertical: this.filters.vertical,
        from: this.filters.from,
        to: this.filters.to,
        numberPaginate: this.filters.numberPaginate ?? "",
        sortBy: this.filters.sortBy ?? "",
        direction: this.filters.direction ?? "",
        from_date: this.filters.from_date ?? "",
        to_date: this.filters.to_date ?? "",
      },
      detail: null,
      isDetail: false,
    }
  }

}
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style>
.w-90 {
  width: 90%;
  margin: auto;
}
.dp__pointer{
  height: 42px;
}
.line-clamp-3 {
  color: gray;
  display: -webkit-box;
  max-width: 100%;
  line-height: 1.4rem;
  font-size: 16px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label-success {
  background-color: #36c6d3!important;
  border: 1px solid #27a4b0 !important;

}
.properties .label-success{
  width: unset;
}
.bsd-info{
  column-gap: .2rem;
  row-gap: .2rem;
}
@media only screen and (max-width: 600px) {
  .search-box-item {
    padding: 0.5rem;
  }

  .search-box-item .btn-primary {
    margin-top: 1rem;
  }

  .projecthome {
    padding: 0.5rem;
  }

  .multiselect__option--highlight {
    background: #41b883;
    outline: none;
    color: black !important;
  }

}

</style>


