<template>
  <div>
    <div class="pt-16 pb-16 text-white hidden-xs "
         style="background-image: url('/images/breadcrumb-background.jpg');">
      <div class="description">
        <div class="w-90"><h1 class="text-center text-2xl mb-2">Khám phá các dự án của chúng tôi</h1>
          <p class="text-center">Chúng tôi đưa ra những lựa chọn tốt nhất với những dự án hot và uy tín bậc nhất hiện
            nay, hãy truy cập vào thông tin chi tiết bên dưới để tìm hiểu thêm nhé.</p>
          <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb"></ul>
        </div>
      </div>
    </div>

    <div class="md:p-5 pt-0 bg-search mt-4 md:p-1  ">
      <div class="search-box-item bg-search">
        <div class="grid md:grid-cols-12 gap-2">
          <div class="bg-search md:col-span-3 sm:col-span-1">
            <div class="form-group ">
              <label class="control-label ">Từ khoá</label>
              <div class="relative mt-2">
                <input type="search" id="default-search" v-model="form.search"
                       class="block w-full form-input pr-9"
                       placeholder="Nhập vào từ khóa..." required>
                <div class="absolute inset-y-0 right-4 flex items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                       stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" mt-6">

      <div class=" grid grid-cols-1 gap-x-6 gap-y-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

        <div class="group" v-for="property in properties.data" :key="property.id" >
          <div @click="showDetail(property)"
               class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-search xl:aspect-h-8 xl:aspect-w-7 h-80 ">
            <img :src="property.image"
                 :alt="property.address"
                 loading="lazy"
                 class="h-full w-full object-cover object-center group-hover:opacity-75">
          </div>
          <div class="bg-search p-2">
            <h3 class="mt-3 text-xl font-bold text-gray-900 capitalize">{{ property.address }}</h3>
            <div  class="mt-1 text-base text-gray-700">
              {{ property.description }}
              <span class="label-success status-label mr-2" v-if=" property.direction">Hướng: {{ property.direction }}</span>
            </div >

            <p class="mt-1 text-base text-gray-700 flex items-center">
              <icon name="clock" class=" w-6 h-6 fill-white z-1"/> &nbsp;
              Ngày tạo: {{ property.date }}
            </p>
            <div class="mt-3 flex justify-between properties">
              <div class="flex flex-wrap bsd-info">
                <span
                  class="label-success status-label mr-2">Diện tích: {{ property.horizontal }} x {{ property.vertical }}</span>
                <span class="label-success status-label mr-2">Giá: {{ property.price }}tr</span>
                <span class="label-success status-label" v-if="property.typename">Loại: {{ property.typename }}</span>

              </div>

            </div>
            <div class="label-success mt-3 mr-2 mt-3 p-2 text-white text-center" v-if="property.phones">Gọi ngay :
              <a class="text-green-800 font-bold" :href="`tel:${phone}`" v-for="(phone,index) in property.phones" :key="index">{{phone}} &nbsp;</a>
            </div>
            <div class="w-full mt-2 text-center ">
              <button class=" btn btn-danger w-full flex justify-center item-center" @click="removeToWish(property.id)" >
                <span>Xóa Khỏi  yêu thích</span> <icon name="hear" class="block w-6 h-6 fill-white" />
              </button>
            </div>
          </div>
        </div>
        <!-- More products... -->
        <div v-if="properties.data.length === 0">
          Không dự án nào trong danh sách yêu thích
        </div>
      </div>

      <pagination class="mt-6" :links="properties.links" v-model="form.numberPaginate" />
    </div>

    <ModalDetail :isOpen="this.isDetail"  @clicked="isDetail = !isDetail" :detail="detail"></ModalDetail>
  </div>
</template>

<script>
import {Head} from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import SearchFilter from '@/Shared/SearchFilter'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
import Pagination from '@/Shared/Pagination'
import mapValues from 'lodash/mapValues'
import pickBy from 'lodash/pickBy'
import throttle from 'lodash/throttle'
import Icon from "../../Shared/Icon";
import ModalDetail from "../../Shared/ModalDetail";
import Multiselect from 'vue-multiselect'
export default {
  components: {
    ModalDetail,
    Icon,
    SearchFilter,
    Head,
    SelectInput,
    TextInput,
    Pagination,

    Multiselect
  },
  layout: Layout,
  props: {
    filters: Object,
    properties: Object,

  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/wishlists', pickBy(this.form), { preserveState: true })
      }, 1550),
    },
  },
  methods: {
    searchHandler() {
      this.form = mapValues(this.form, () => "")
    },
    reset() {
      this.form = mapValues(this.form, () => "")
    },
    containsNumbers(str) {
      let isNumber = /\d/.test(str);
      if (isNumber) {
        return str
      } else {
        return str.slice(5)
      }
    },
    showDetail(property){
      this.detail = property;
      this.isDetail = true
    },
    removeToWish(id){
      this.$inertia.delete(`wishlist/remove/${id}`)

    }

  },
  mounted() {
    // this.options = this.districtHcm.map((item,index) => ({
    //   name: item,
    // }));
    // console.log(this.options)
  },
  data() {
    return {
      form: {
        search: this.filters.search,

      },
      detail:null,
      isDetail:false,
    }
  }

}
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style>
.w-90 {
  width: 90%;
  margin: auto;
}
.label-success {
  background-color: #36c6d3!important;
  border: 1px solid #27a4b0 !important;
}
.properties .label-success{
  width: unset;
}
.bsd-info{
  column-gap: .2rem;
  row-gap: .2rem;
}
.line-clamp-3{
  color: gray;
  display: -webkit-box;
  max-width: 100%;
  line-height: 1.4rem;
  font-size: 16px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 600px) {
  .search-box-item {
    padding: 0.5rem;
  }
  .search-box-item .btn-primary{
    margin-top: 1rem;
  }
  .projecthome{
    padding: 0.5rem;
  }
  .multiselect__option--highlight {
    background: #41b883;
    outline: none;
    color: black !important;
  }
}

</style>


