<template>
  <div>
    <Head title="properties" />
    <div class="flex flex-wrap items-center w-full mb-3 justify-between bg-search  p-3">

      <h1 class=" text-3xl font-bold">Nhà Thuê </h1>
      <Link class="btn-indigo" href="/properties/create">
        <span>Tạo</span>
        <span class="hidden md:inline">Nhà Thuê </span>
      </Link>
    </div>

    <div class="flex flex-wrap items-center w-full justify-between mb-3 bg-search p-3">
      <div class="flex flex-wrap">
        <search-filter v-model="form.search" class=" mr-4 max-w-md" @reset="reset">
          <label class="block text-gray-700">Trạng thái:</label>
          <select v-model="form.status" class="form-select mt-1 w-full">
            <option :value="null" />
            <option value="0">Đang dùng</option>
            <option value="1">Dang ẩn</option>
          </select>
        </search-filter>
        <div class=" relative sm:mt-2 sm:mb-2 sm:mt-2">
          <multiselect
            class="sm:w-full"
            v-model="form.district"
            :multiple="true"
            placeholder="Tìm kiếm nhiều quận... "
            :options="districtHcm">
          </multiselect>
        </div>
      </div>

     <div class="flex">
       <button class="btn btn-danger mr-4" @click="deleteSelected">Xóa nhà đã chọn</button>
       <modal-file v-if="this.$page.props.auth.user.owner === 2"></modal-file>
     </div>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <thead>
        <tr class="text-left font-bold">
          <th class="p-1 form-checkbox pb-4 pt-6 px-2 ">
            <div>
              <input id="html" v-model="allChecked" class="mr-1" type="checkbox" @change="toggleAll" :checked="isAllChecked" />
              <label for="html"></label>
            </div>
          </th>
          <th class="pb-4 pt-6 pr-4 w-25">Địa chỉ</th>
          <th class="pb-4 pt-6 px-6">Ảnh</th>
          <th class="pb-4 pt-6 px-6">Giá cả</th>
          <th class="pb-4 pt-6 px-6" >Số điện thoại</th>
          <th class="pb-4 pt-6 px-6 text-center" >Trạng thái</th>
          <th class="pb-4 pt-6 px-6">Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="organization in properties.data" :key="organization.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t p-1 form-checkbox pb-4 pt-6 px-2">
            <input :id="organization.id" v-model="organization.checked" class="mr-1" type="checkbox" />
            <label :for="organization.id"></label>
          </td>
          <td class="border-t">
            <Link class="flex items-center pr-4 py-4 focus:text-indigo-500" :href="`/properties/${organization.id}/edit`">
              {{ organization.name }}
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center " :href="`/properties/${organization.id}/edit`" tabindex="-1">
              <img :src="organization.image" alt="My Image" class="w-14">
            </Link>
          </td>
          <td class="border-t">
            {{ organization.price}}
          </td>
          <td class="border-t">
            {{ organization.phone }}
          </td>
          <td class="border-t text-center">
              <status :status="organization.status"></status>
          </td>
          <td class="w-px border-t ">
              <div class="flex justify-between items-center">
                <button class="btn btn-primary mr-2 " @click="onTopHandle(organization.id)" >
                  <icon name="up" class="block w-6 h-6 fill-white" />
                </button>
                <button class=" btn btn-danger" @click="showAlert(organization.id)" >
                  <icon name="trash" class="block w-6 h-6 fill-white" />
                </button>
                <Link class="flex items-center px-4" :href="`/properties/${organization.id}/edit`" tabindex="-1">
                  <button class=" btn btn-primary" >
                    <icon name="edit" class="block w-6 h-6 fill-white" />
                  </button>

                </Link>
              </div>
          </td>
        </tr>
        <tr v-if="properties.data.length === 0">
          <td class="px-6 py-4 border-t text-center" colspan="6">Chưa có dự án nào.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination class="mt-6" :links="properties.links" />
    <ModalAlert :isOpen="this.isOpen"  @clicked="isOpen = !isOpen" :idDelete="idDelete" :ids="ids" url="delete-properties"></ModalAlert>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'
import LoadingButton from '@/Shared/LoadingButton'
import ModalFile from '@/Shared/ModalFile'
import Status from "../../Shared/Status";
import ModalAlert from "../../Shared/ModalAlert";
import Multiselect from 'vue-multiselect';
export default {
  components: {
    ModalAlert,
    Status,
    Head,
    Icon,
    Link,
    Pagination,
    SearchFilter,
    LoadingButton,
    ModalFile,
    Multiselect
  },
  layout: Layout,
  props: {
    filters: Object,
    properties: Object,
    pagination: Object,
    districtHcm:Array

  },
  data() {
    return {
      form: {
        search: this.filters.search,
        district:this.filters.district,
        trashed: this.filters.trashed,
        numberPaginate: 10,
        excel: null,
      },
      isOpen:false,
      idDelete:'',
      allChecked: false,
      ids: []
    }
  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/properties', pickBy(this.form), { preserveState: true })
      }, 150),
    },
    isAllChecked(newVal) {
      this.allChecked = newVal;
    }
  },
  computed: {
    isAllChecked() {
      return this.properties.data.length && this.properties.data.every(propertiy => propertiy.checked);
    }
  },
  methods: {
    deleteSelected(){
      this.ids = [];
      const selectedIds = this.properties.data.filter(customer => customer.checked).map(customer => customer.id);
      if(selectedIds.length > 0){
        this.ids = selectedIds;
        this.isOpen = true;
        this.idDelete = 'properties/all';
      }else {
        alert("Vui lòng chọn dự án cần xóa")
      }
    },
    toggleAll(event) {
      const isChecked = event.target.checked;
      this.properties.data.forEach(customer => {
        customer.checked = isChecked;
      });
    },
    reset() {
      this.form = mapValues(this.form, () => null)
    },
    uploadExcel(){
      this.$refs.file.click()
    },
    formattedInputValue( number) {
      const value = parseFloat(number.replace(/,/g, ""));

      if (isNaN(value)) {
        return "";
      }
      const formatter = new Intl.NumberFormat("en-US");
      return formatter.format(value);
    },
    showAlert(id){
      this.isOpen = true;
      this.idDelete = 'properties/'+id
    },
    onTopHandle(id){
      this.$inertia.post(`/properties/top/${id}`)
    }
  },
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style>
.form-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-checkbox label {
  position: relative;
  cursor: pointer;
}

.form-checkbox label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 5px;
  height: 9px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
</style>
