<template>
  <div>
    <div class="mb-5 text-1xl font-bold bg-search flex justify-between items-center">
      <h3>
        Xem lịch sử hoạt động
      </h3>
      <button class="btn btn-danger" @click="removeAll()">
     Xóa tất cả
      </button>
    </div>
<!--    <div class="flex items-center justify-between mb-6 bg-search p-3">-->
<!--      <search-filter v-model="form.search" class="mr-4 w-full max-w-md" @reset="reset">-->
<!--        <label class="block text-gray-700">Quyền:</label>-->
<!--        <select v-model="form.role" class="form-select mt-1 w-full">-->
<!--          <option :value="null" />-->
<!--          <option value="user">Nhân Viên</option>-->
<!--          <option value="owner">Admin </option>-->
<!--        </select>-->
<!--        <label class="block mt-4 text-gray-700">Thùng rác:</label>-->
<!--        <select v-model="form.trashed" class="form-select mt-1 w-full">-->
<!--          <option :value="null" />-->
<!--          <option value="with">Hoạt động</option>-->
<!--          <option value="only">Trong thùng rác</option>-->
<!--        </select>-->
<!--      </search-filter>-->
<!--      <Link class="btn-indigo" href="/users/create">-->
<!--        <span>Tạo</span>-->
<!--        <span class="hidden md:inline">&nbsp;User</span>-->
<!--      </Link>-->
<!--    </div>-->
    <div class="bg-white rounded-md shadow ">
      <table class="w-full  ">
        <tr class="text-left font-bold">
            <th class="pb-4 pt-6 px-6 border-r p-3 whitespace-nowrap">Tên </th>
          <th class="pb-4 pt-6 px-6 border-r p-3 whitespace-nowrap">Thao tác</th>
          <th class="pb-4 pt-6 px-6 border-r p-3">Ip</th>
          <th class="pb-4 pt-6 px-6 border-r p-3">Trình duyệt </th>
          <th class="pb-4 pt-6 px-6 border-r p-3">Thời gian</th>
          <th class="pb-4 pt-6 px-6"></th>
        </tr>
        <tr v-for="log in logs.data" :key="log.id" class="hover:bg-gray-100 focus-within:bg-gray-100">

          <td class="border-t border-r p-3 whitespace-nowrap">
            {{ log.user.first_name +' '+ log.user.last_name  }}
          </td>
          <td class="border-t border-r p-3 whitespace-nowrap">
            {{ log.subject }}
          </td>
          <td class="border-t border-r p-3">
            {{ log.ip }}
          </td>
          <td class="border-t p-1 border-r p-3" style="max-width: 10%">
            {{ log.agent }}
          </td>
          <td class="border-t p-1 border-r p-3 capitalize" style="max-width: 10%">
            {{ formatDate(log.created_at) }}
          </td>
          <td class="border-t p-1 border-r p-3" style="max-width: 10%">
            <button class=" btn btn-danger" @click="showAlert(log.id)" >
              <icon name="trash" class="block w-6 h-6 fill-white" />
            </button>
          </td>
        </tr>
        <tr v-if="logs.data.length === 0">
          <td class="px-6 py-4 border-t text-center" colspan="5">Không tìm thấy log nao.</td>
        </tr>
      </table>
      <pagination class="mt-6" :links="logs.links"  v-model="form.numberPaginate" />

    </div>
    <ModalAlert :isOpen="this.isOpen"  @clicked="isOpen = !isOpen" :idDelete="idDelete"></ModalAlert>
  </div>

</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import SearchFilter from '@/Shared/SearchFilter'
import ModalAlert from "../../Shared/ModalAlert";
import Pagination from "../../Shared/Pagination";

export default {
  components: {
    Head,
    Icon,
    Link,
    SearchFilter,
    ModalAlert,
    Pagination
  },
  layout: Layout,
  props: {
    logs: Object,
  },
  data() {
    return {
      form: {

      },
      isOpen:false,
      idDelete: null
    }
  },
  watch: {

  },
  methods: {
    showAlert(id){
      this.isOpen = true;
      this.idDelete = 'activity/destroy/'+id
    },
    removeAll(){
      this.$inertia.delete('activity/remove')
    },
    formatDate(date1) {
      const date = new Date(date1);
      const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' };
      return date.toLocaleDateString('vi-VN', options);
    }

  },
}
</script>
