<template>
  <div>
    <Head title="Users" />
    <h1 class="mb-5 text-3xl font-bold bg-search p-3">Báo cáo</h1>
    <div class="flex flex-wrap -mx-3">
      <CardPageVisits :name="'Số bài Viết hôm nay'" :number="numberDay" :total="total" />
      <CardPageVisits :name="'Số bài Viết Tuần qua'" :number="numberWeek" :total="total"/>
      <CardPageVisits :name="'Số bài Viết Tháng qua'" :number="numberMonth" :total="total"/>
      <CardPageVisits :name="'Số Lượng thành viên'" :number="numberUser" :total="total" :type="1" :totalImages="totalImages" />
    </div>
    <div class="md:flex justify-between items-center mt-6 form-export" v-if="this.$page.props.auth.user.owner === 2">
      <div class="md:flex gap-5 md:w-3/4 pb-8 w-full items-center justify-between">
        <div class="relative max-w-sm mt-2 md:w-2/6 w-full">
          <label class="form-label"  >Chọn thời gian bắt đầu xuất</label>
          <VueDatePicker v-model="form.from" format="dd/MM/yyyy" ref="datepicker"  @date-update="dateClicked"
                         :action-row="{ showNow: false, showPreview: false  }"></VueDatePicker>
          <div v-if="form.errors.from">{{form.errors.from}}</div>
        </div>

        <div class="relative max-w-sm mt-2 md:w-2/6 w-full">

          <label class="form-label"  >Chọn thời gian kết thúc  xuất</label>
          <VueDatePicker v-model="form.to" format="dd/MM/yyyy" ref="datepicker1"  @date-update="dateClicked1"
                         :action-row="{ showNow: false, showPreview: false  }"></VueDatePicker>
          <div v-if="form.errors.to">{{form.errors.to}}</div>
        </div>

        <div class="relative max-w-sm mt-2 md:w-2/6 w-full">
          <div class="relative w-full">
            <label class="form-label">Quận/Huyện:</label>
            <multiselect
              v-model="form.address"
              :multiple="true"
              class=" border-none"

              placeholder="Tìm kiếm nhiều quận "
              :options="districtHcm">
            </multiselect>
          </div>
        </div>

      </div>

      <a  class="btn btn-primary" :href="`/download/export/${form.from}/${form.to}/${form.address}`"> Xuất File Excel</a>
    </div>
    <ActivityLog :logs="logs"/>
  </div>
</template>

<script>

import TextInput from '@/Shared/TextInput'
import {Head, Link} from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import CardPageVisits from '@/Shared/CardPageVisits'
import Multiselect from 'vue-multiselect'
import ActivityLog from "./ActivityLog";
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import moment from 'moment';
export default {
  components: {
    ActivityLog,
    Head,
    CardPageVisits,
    TextInput,
    Multiselect,
    VueDatePicker
  },
  layout: Layout,
  remember: 'form',
  props:{
    numberDay:Number,
    numberWeek:Number,
    numberMonth:Number,
    total:Number,
    numberUser:Number,
    totalImages:Number,
    districtHcm:Array,
    logs:Object
  },
  data(){
    return{
      form: this.$inertia.form({
        from: null,
        to:null,
        address:null,
      }),
    }
  },
  methods: {
    exportExcel(){
      this.form.get('/download/export')
    },
    dateClicked(date){
      this.form.from = moment(date).format('YYYY-MM-DD');
      // Close the date picker menu
      if (this.$refs.datepicker) {
        this.$refs.datepicker.closeMenu();
      }
    },
    dateClicked1(date){
      this.form.to = moment(date).format('YYYY-MM-DD');

      // Close the date picker menu
      if (this.$refs.datepicker1) {
        this.$refs.datepicker1.closeMenu();
      }
    },
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style>
.form-export .form-error{
  position: absolute;
}
</style>
