<template>
  <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
    <div class="relative flex flex-col min-w-0 break-words bg-gradient-to-r from-green-400 to-yellow-500 h-full
    hover:from-pink-500 hover:to-yellow-500 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border ">
      <div class="flex-auto p-4">
        <div class="flex flex-row -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div class="text-white">
              <p class="mb-0 font-sans font-semibold leading-normal uppercase dark:text-white dark:opacity-60 text-sm">{{name}}</p>
              <h5 class="mb-2 font-bold dark:text-white text-red-800 text-2xl font-bold">{{number}}</h5>
              <p class="mb-0 dark:text-white dark:opacity-60" v-if="!type">
                <span class="font-bold leading-normal text-sm text-emerald-500 text-2xl font-bold">+{{ (Math.round(number*100)/total ).toFixed(2)}} %</span>
               Tổng số {{total}}
              </p>
              <p class="mb-0 dark:text-white dark:opacity-60" v-if="totalImages">
                <span class="font-bold leading-normal text-sm text-emerald-500 ">
                      {{totalImages}}

                </span>
                : Số Lượng ảnh đã đăng
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Icon from "./Icon";
export default {
  components: {Icon},
  props:{
    name: String,
    total:Number,
    number:Number,
    type:0,
    totalImages:0
  }
}
</script>
