<template>
  <div :class="getStatusClass(status)">{{ getStatusText(status) }}</div>
</template>

<script>
export default {
  props: {
    status: Number,
  },
  methods: {
    getStatusText(status) {

      switch (status) {
        case 1:
          return 'Đang tìm';
        case 2:
          return 'Đã thuê';
        case 3:
          return 'Tạm ngưng';
        case 4:
          return 'Đã chốt';
        default:
          return 'Chưa xét';
      }
    },
    getStatusClass(status) {
      switch (status) {
        case 4:
          return 'label-error status-label';
        case 3:
          return 'label-warning status-label';
        case 2:
          return 'label-info status-label';
        case 1:
          return 'label-success status-label';
        default:
          return 'label-default status-label';
      }
    }
  }
}
</script>

<style>
.label-error {
  background-color: #2563eb;
  border: 1px solid #2563eb !important;
}
.label-warning {
  background-color: #fcd34d;
  border: 1px solid #fcd34d !important;
}
.label-info {
  background-color: #dc2626;
  border: 1px solid #dc2626 !important;
  color: #ffffff;
  font-weight: bold;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.label-success {
  background-color: #34d399;
  border: 1px solid #34d399 !important;
}
.label-default {
  background-color: #6b7280;
  border: 1px solid #6b7280 !important;
}
.status-label {
  width: 10rem;
}
</style>
