<template>
  <div>
    <label v-if="label" class="form-label">{{ label }}:</label>
    <div class="form-input p-0" :class="{ error: errors.length }">
      <input ref="file" type="file" :accept="accept" class="hidden" @change="change" v-if="this.multi" multiple />
      <input ref="file" type="file" :accept="accept" class="hidden" @change="change" v-else  />
      <div class="flex p-2">
        <button type="button" class="px-4 py-1 text-white text-xs font-medium bg-gray-500 hover:bg-gray-700 rounded-sm"
                @click="browse">Chọn {{this.type }}
        </button>
        <p class="text-sm ml-4">Nhấn giữ phím Control (Ctrl) để chọn nhiều ảnh cùng lúc</p>
      </div>
      <div class="flex items-center justify-between p-2" v-for="(item,index) in modelValue">
        <div class="flex-1 pr-1">
          {{ item.name }} <span class="text-gray-500 text-xs">({{ filesize(item.size) }})</span>
        </div>
        <button type="button" class="px-4 py-1 text-white text-xs font-medium bg-gray-500 hover:bg-gray-700 rounded-sm"
                @click="remove(index)">Xoá
        </button>
      </div>
    </div>
    <div v-if="errors.length" class="form-error">{{ errors[0] }}</div>
  </div>
</template>

<script>
export default {
  props: {
    modelValue: File,
    label: String,
    accept: String,
    multi: Boolean,
    errors: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      fileList: [],
    }
  },
  emits: ['update:modelValue'],
  watch: {
    modelValue(value) {
      if (!value) {
        this.$refs.file.value = ''
      }
    },
  },
  methods: {
    filesize(size) {
      var i = Math.floor(Math.log(size) / Math.log(1024))
      return (size / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i]
    },
    browse() {
      this.$refs.file.click()
    },
    change(event) {
      this.$emit('update:modelValue', event.target.files)

    },

    remove(index) {
      const filesArray = Array.from(this.modelValue);
      if (filesArray.length === 1) {
        this.$emit('update:modelValue', null)
      } else {
        filesArray.splice(index, 1)
        this.$emit('update:modelValue', filesArray)
      }
    },
  },
}
</script>
