<template>
  <transition name="fade">
    <div v-if="isModalVisible">
      <div @click="onToggle"
        class="fixed  inset-0 bg-black bg-opacity-80 overflow-y-auto h-full w-full">
        <div class="fixed inset-0 flex items-center justify-center fixed  ">
          <div class="bg-white p-8 shadow-md max-w-sm max-w-full">
            <div class="icon-box">
              <icon name="trash" class="block md:w-6 h-6 fill-red-700  text-xl mt-6 inline-block" />
            </div>
            <h2 class="text-2xl font-bold py-4 text-center">Are you sure?</h2>

            <p class="caret-red-100">Bạn có thực sự muốn xóa những bản ghi này? Không thể hoàn tác quá trình này ?</p>
            <div class=" text-center space-x-4 mt-4 md:block">
              <button type="submit" v-if="idDelete"  @click="destroy"
                      class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider   rounded-md
                          bg-red-600 text-white border-red-900
                           hover:shadow-lg hover:bg-gray-100"
              >
                Xoá
              </button>
              <button

                type="button"
                class="mb-2 md:mb-0 bg-purple-500 border border-purple-500 px-5 py-2
                 text-sm shadow-sm font-medium tracking-wider rounded-md hover:shadow-lg hover:bg-purple-600 z-10"
              >
                Đóng
              </button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import FileInput from '@/Shared/FileInput'
import Icon from "./Icon";

export default {
  components: {
    Icon,
    FileInput
  },
  props:{
    isOpen: Boolean,
    idDelete: String,
    url: String,
    ids: {
      type:Array,
      default: []
    }
  },
  data() {
    return {

      form: this.$inertia.form({
        excel: null,
      }),
    };
  },

  computed: {
    isModalVisible() {
      return this.isOpen;
    }
  },

  methods: {
    onToggle() {
      this.$emit('clicked')
    },
    destroy() {

      if (this.ids.length > 0){
        this.$inertia.post(this.url, { ids: this.ids })
      }else{
        if(this.idDelete == 'all'){
          this.$inertia.post(this.url, { all: true })
        }else{
          this.$inertia.delete(this.idDelete)
        }
      }

    }
  }
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms ease-out;
}
</style>
