<template>
  <transition name="fade">
    <div v-if="isModalVisible">
      <div @click="onToggle" class="fixed inset-0 bg-black bg-opacity-80 overflow-y-auto h-full w-full">

      </div>
      <div class="w-full max-w-lg p-3 fixed inset-0 flex items-center justify-center">
        <div>
          <div class="fixed inset-2 flex items-center justify-center ">
            <div class="relative bg-white md:p-8 sm:p-8 md:w-1/2 sm:w-full max-w-full ">
              <div class="max-h-modal">
                <div v-if="isHome" >
                  <SliderHome :images="detail.images"></SliderHome>
                </div>
                <div v-else >
                  <Slider :images="detail.images"></Slider>
                </div>
                <div class="flex items-center justify-between ">
                  <h3 class="mt-3 text-xl font-bold text-gray-900 capitalize">{{ detail.address }}

                  </h3>
                  <span class="label-success status-label mr-2" v-if=" detail.direction">Hướng: {{ detail.direction }}</span>
                </div>
                <div  class="mt-1 text-base text-gray-700 ">
                  {{ detail.description }}
                </div >
                <div class="flex justify-between">
                  <p class="mt-1 text-base text-gray-700 flex items-center">
                    <icon name="clock" class=" w-6 h-6 fill-white z-10"/> &nbsp;
                    Ngày tạo: {{ detail.date }}
                  </p>

                  <div class="flex gap-1">
                    <button class="p-1 rounded-md bg-sky-500 text-white rounded-none shadow-sm flex justify-between items-center"
                            @click="downloadAll(detail.images,isHome)">
                      Tải tất cả
                      <Icon name="download" class="ml-1"></Icon>
                    </button>
                  </div>
                </div>
                <div class=" flex justify-between">d
                  <div class="flex flex-wrap items-center">
                    <span class="label-success status-label mt-3 mr-2">Diện tích: {{ detail.horizontal }} x {{ detail.vertical }}</span>
                    <span class="label-success status-label mt-3 mr-2">Giá: {{ detail.price }}</span>
                    <span class="label-success status-label mt-3 mr-2" v-if="detail.typename">Loại: {{ detail.typename }}</span>
                    <span class="label-success status-label mt-3 mr-2" v-if="detail.phones">Số điện thoại :
                        <a class="text-green-800" :href="`tel:${phone}`"  v-for="(phone,index) in detail.phones" :key="index">{{phone}}  &nbsp;</a>
                    </span>
                  </div>
                </div>
                <div class="flex justify-between mt-3">
                  <file-input v-model="form.images" :error="form.errors.images" lass="pb-8 pr-6 w-full mt-4 " type="file"
                              :multi="true"
                              accept="image/*"/>
                  <button v-if="form.images" type="button" class="px-4 py-1 text-white text-xs font-medium bg-gray-500 hover:bg-gray-700 rounded-sm"
                          @click="uploadImage" >Tải lên </button>
                </div>
              </div>
              <button @click="onToggle" type="button" class="btn-close">
                X
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import FileInput from '@/Shared/FileInput'
import Icon from "./Icon";
import Slider from './Slider'
import throttle from "lodash/throttle";
import pickBy from "lodash/pickBy";
import SliderHome from "./SliderHome";
export default {
  components: {
    SliderHome,
    Icon,
    FileInput,
    Slider
  },
  props: {
    isOpen: Boolean,
    isHome: Boolean,
    idDelete: Number,
    detail:Object
  },
  data() {
    return {
      isImage:this.isOpen,
      form: this.$inertia.form({
        _method: 'post',
        images: null,
      }),
    };
  },

  computed: {
    isModalVisible() {
      return this.isOpen;
    }
  },

  methods: {
    onToggle() {
      this.$emit('clicked')
    },

    downloadAll(images, isHome){
      images.map(function (item){
        const url = isHome ? 'storage/home-images/'+ item.file_path  :'storage/images/'+ item.file_path;
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", item.file_path); //or any other extension
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      })
    },
    uploadImage(){
      const url = this.isHome ? 'homes' : 'properties';
      this.form.post(`/${url}/upload-images/${this.detail.id}`)
      this.form.images= null
      this.onToggle()
    }
  }
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms ease-out;
}
.max-h-modal{
  max-height: 85vh;
  overflow-x: scroll;
}
@media only screen and (max-width: 600px) {
  .max-h-modal{
    padding: 5px;
  }
  .btn-close{
    right: -5px;
    top: -10px;
  }

}
</style>
