<template>
  <div id="app">
    <div class="mr-3">
      <button
        @click="onToggle"
        class="btn-indigo ">
        Xử lý excel
      </button>
    </div>
    <transition name="fade">
      <div v-if="isModalVisible">
        <div
          @click="onToggle"
          class="absolute bg-black opacity-70 inset-0 z-0"
        ></div>
        <div
          class="w-full max-w-lg p-3 fixed inset-0 flex items-center justify-center"
        >
          <div>
            <div class="fixed inset-0 flex items-center justify-center">
              <div class="bg-white p-8 shadow-md">
                <h2 class="text-2xl font-bold py-4">Thêm hàng loạt dự án bằng file Excel</h2>
                <form @submit.prevent="uploadExcel">
                  <file-input v-model="form.excel" :error="form.errors.excel" class="pb-8 pr-6 w-full " type="file"
                              :multi="false"
                              accept=".xls,.xlsx"/>

                  <div class=" text-center space-x-4 md:block">
                    <button type="submit"
                      class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-md hover:shadow-lg hover:bg-gray-100"
                    >
                      Tải Lên
                    </button>
                    <button
                      @click="onToggle"
                      type="button"
                      class="mb-2 md:mb-0 bg-purple-500 border border-purple-500 px-5 py-2 text-sm shadow-sm font-medium tracking-wider rounded-md hover:shadow-lg hover:bg-purple-600"
                    >
                      Đóng
                    </button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import FileInput from '@/Shared/FileInput'
export default {
  components:{
    FileInput
  },
  data() {
    return {
      isOpen: false,
      form: this.$inertia.form({
        excel: null,
      }),
    };
  },

  computed: {
    isModalVisible() {
      return this.isOpen;
    }
  },

  methods: {
    onToggle() {
      this.isOpen = !this.isOpen;
    },
    uploadExcel(){
      this.form.post('properties/uploadExcel')
      this.isOpen = !this.isOpen;
    }
  }
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms ease-out;
}
</style>
