<template>
  <div v-if="links.length > 3">
    <div class="flex flex-wrap  justify-between">
      <select-input  class=" w-20" v-model="this.modelValue"  @change="$emit('update:modelValue', $event.target.value)" v-if="pagination.length > 0">
        <option :value="paginate" v-for="paginate in pagination" >{{paginate}}</option>
      </select-input>
      <div class="flex flex-wrap -mb-1">
        <template v-for="(link, key) in links">
          <div v-if="link.url === null" :key="key" class="mb-1 mr-1 px-4 py-3 text-gray-400 text-sm leading-4 border rounded" v-html="link.label" />
          <Link v-else :key="`link-${key}`" class="mb-1 mr-1 px-4 py-3 focus:text-indigo-500 text-sm leading-4
          hover:bg-white border focus:border-indigo-500 rounded"
                :class="{ 'bg-gray-400': link.active }" :href="link.url" v-html="link.label" />
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
import SelectInput from "./SelectInput";

export default {
  components: {
    SelectInput,
    Link,
  },
  props: {
    links: Object,

    pagination: {
      type: Array, // Change type to Array
      default: () => [] // Set default value directly as an empty array
    },
    modelValue: {
      type: String,
      default: ""
    },
  },
  methods:{
    selectNumber(){
      this.$emit('number',)
    }
  }
}
</script>
