<template>
  <div class="search-box-item bg-search">
    <div class="grid md:grid-cols-12 gap-2">
      <div class="bg-search md:col-span-3 sm:col-span-1">
        <div class="form-group ">
          <label class="control-label ">Từ khoá</label>
          <div class="relative mt-2">
            <input type="search" id="default-search" :value="modelValue.search" @input="$emit('update:modelValue', $event.target.value)"
                   class="block w-full form-input pr-9"
                   placeholder="Nhập vào từ khóa..." required>
            <div class="absolute inset-y-0 right-4 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                   stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-search md:col-span-3">
        <div class="relative ">
          <label class="form-label">Quận/Huyện:</label>
<!--          <multiselect-->
<!--            v-model="form.district"-->
<!--            :multiple="true"-->
<!--            placeholder="Tìm kiếm nhiều quận "-->
<!--            :options="districtHcm">-->
<!--          </multiselect>-->
        </div>
      </div>
      <div class="bg-search md:col-span-1">
        <select-input class=" w-full" label="Loại nhà" v-model="form.type">
          <option value="">Loại Nhà</option>
          <option :value="index" v-for="(typeHome, index) in types" :key="index">{{ typeHome }}</option>
        </select-input>
      </div>
      <div class="bg-search md:col-span-1">
        <text-input type="text" v-model="form.horizontal"
                    class="  w-full" label="Chiều ngang"/>
      </div>
      <div class="bg-search md:col-span-1">
        <text-input type="text" v-model="form.vertical"
                    class="  w-full" label="Chều dọc"/>
      </div>
      <div class="bg-search md:col-span-1">
        <text-input type="text" v-model="form.from"
                    class="  w-full" label="Giá từ"/>
      </div>
      <div class="bg-search md:col-span-2">
        <div class="md:flex flex-nowrap items-center">
          <text-input type="text" v-model="form.to"
                      class="w-full sm:mb-4" label="Giá tới"/>
          <div class="md:mt-2">
            <button class="btn btn-primary btn-full h-10 md:ml-2 w-full" @click="searchHandler">Tìm kiếm </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import pickBy from 'lodash/pickBy'
import Multiselect from 'vue-multiselect'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
export default {
  components: {
    TextInput,
    SelectInput,
    Multiselect
  },
  props:{
    modelValue: String,
    districtHcm:Array,
    types:Array,
  },
  data() {
    return {
      form: {
        search: "",
        district: [],
        type:"",
        horizontal: "",
        vertical: "",
        from: "",
        to: "",
        numberPaginate: "",
        sortBy: "",
      },
    }
  },
  methods:{
    searchHandler() {
      this.$inertia.get('/', pickBy(this.search), {preserveState: true})
    },
  }
}
</script>
