<template>
  <div>
    <swiper :modules="[Thumbs]"
            :loop="true"
            :spaceBetween="10"
            class="swiper-1"
            :thumbs="{ swiper: thumbsSwiper }">
      <swiper-slide v-for="(slide, index) in images" :key="index">

        <div class="">

          <div class="group relative">
            <img :src="'storage/images/'+ slide.file_path" :alt="slide.alt"     class="image"/>
            <div class="absolute inset-0 top-0 right-1.5  flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity cursor-pointer">
              <div class="flex bg-white p-3 rounded-full">
                <a id="download" :href="'storage/images/'+ slide.file_path" :download="slide.file_path">   <icon name="download" class=" w-9 h-9 fill-white z-10"/></a>

              </div>
            </div>
          </div>
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </swiper-slide>
    </swiper>
    <swiper v-if="images.length > 1"
      :loop="true"
      :spaceBetween="10"
      :slidesPerView="4"
      :freeMode="true"
      :watchSlidesProgress="true"
      class="mySwiper"
      :modules="[Thumbs]"
      watch-slides-progress
      @swiper="setThumbsSwiper">
      <swiper-slide v-for="(slide, index) in images" :key="index">
        <img :src="'storage/images/'+ slide.file_path" :alt="slide.alt"/>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import {ref} from 'vue';
import {FreeMode,Navigation,Thumbs} from 'swiper';
import {Swiper, SwiperSlide} from 'swiper/vue';
import 'swiper/css';

import "swiper/css/free-mode"
import "swiper/css/navigation"
import "swiper/css/thumbs"
import Icon from "./Icon";
export default {
  components: {
    Icon,
    Swiper,
    SwiperSlide,
  },
  setup() {
    const thumbsSwiper = ref(null);
    const setThumbsSwiper = (swiper) => {
      thumbsSwiper.value = swiper;
    };
    return {
      Thumbs,
      Navigation,
      FreeMode,
      thumbsSwiper,
      setThumbsSwiper,
    };
  },
  props:{
    images:Object
  },
}
</script>
<style>
.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 15%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  max-height: 50px;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  width: 100%;
  max-height: 650px;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .swiper-1 {
    height: 300px;
  }
}

</style>
