<template>
  <div class="label-success status-label" v-if="!status">Hoạt động</div>
  <div class="label-error status-label" v-else>Đang Ẩn</div>
</template>

<script>
export default {
  props: {
    status: String,
  },
}
</script>
<style>
.label-error {
  background-color: #dc2626;
  border: 1px solid #dc2626 !important;
}
.status-label{
  width: 10rem;
}
</style>

