<template>
  <div>
    <Head title="Create User"/>
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/customers">Thêm khách hàng</Link>
      <span class="text-indigo-400 font-medium">/Thêm</span>
      <span class="text-indigo-400 font-medium">/Thêm</span>
    </h1>

    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap md:p-6 p-3 md:pr-0">
          <text-input v-model="form.customer" :error="form.errors.customer" class="pb-8 md:pr-6 w-full lg:w-1/2"
                      label="Tên khách hàng"/>
          <text-input type="tel" pattern="(((\+|)84)|0)(3|5|7|8|9)[0-9]{8}"
                      title="Số  điện thoại sai, vui lòng nhập đúng SDT" v-model="form.phones" :error="form.errors.phones" class="pb-8 md:pr-6 w-full lg:w-1/2"
                      label="Số điện thoại"/>

          <div class="pb-8 md:pr-6 w-full ">
            <label class="form-label">Quận</label>
            <multiselect
              class="sm:w-full"
              v-model="form.district"
              :multiple="true"
              placeholder="Chọn quận... "
              :options="districtHcm">
            </multiselect>
          </div>
          <text-input v-model="form.price" :error="form.errors.price" class="pb-8 md:pr-6 w-full lg:w-1/2"
                      label="Giá"/>
            <div class="pb-8 md:pr-6 w-full lg:w-1/2">
              <label class="form-label" >Ngày</label>
              <VueDatePicker v-model="form.date" format="dd/MM/yyyy" ref="datepicker"  @date-update="dateClicked"
                             :action-row="{ showNow: false, showPreview: false  }"></VueDatePicker>
              <div v-if="form.errors.date" class="form-error">{{ form.errors.date }}</div>
            </div>
          <text-input v-model="form.horizontal" :error="form.errors.horizontal" type="text"
                      class="pb-8 md:pr-6 w-full lg:w-1/2" label="Chiều Ngang"/>
          <text-input v-model="form.vertical" :error="form.errors.vertical" type="text"
                      class="pb-8 md:pr-6 w-full lg:w-1/2" label="Chiều dọc"/>

          <select-input v-model="form.type" :error="form.errors.type" class="pb-8 md:pr-6 w-full md:w-1/2"
                        label="Loại Nhà">
            <option value="">Không có Loại Nhà</option>
            <option :value="index" v-for="(typeHome,index) in this.types" :key="index">{{typeHome}}</option>
          </select-input>
          <select-input v-model="form.status" :error="form.errors.status" class="pb-8 md:pr-6 w-full md:w-1/2"
                        label="Trạng Thái">
            <option :value="index" v-for="(item,index) in status">{{item}}</option>
          </select-input>
          <select-input v-model="form.of_user" :error="form.errors.of_user" class="pb-8 md:pr-6 w-full"
                        label="Khách hàng của">
            <option :value="index" v-for="(item,index) in users">{{item}}</option>
          </select-input>
          <textarea-input v-model="form.note" :error="form.errors.note" class="pb-8 md:pr-6 w-full w-full "
                          rows="2"
                          label="Note"/>
          <textarea-input v-model="form.description" :error="form.errors.description" class="pb-8 md:pr-6 w-full w-full "
                          rows="4"
                          label="Mô tả"/>

        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Thêm Khách hàng</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>var tags;
import Vue3TagsInput from 'vue3-tags-input';
import {Head, Link} from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import FileInput from '@/Shared/FileInput'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import TextareaInput from "../../Shared/TextareaInput";
import Icon from "../../Shared/Icon";
import Multiselect from 'vue-multiselect';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import moment from 'moment';
export default {
  components: {
    Icon,
    TextareaInput,
    FileInput,
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    Vue3TagsInput,
    Multiselect,
    VueDatePicker
  },
  layout: Layout,
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        horizontal: '',
        vertical:'',
        district:'',
        type: '',
        phones: '',
        password: '',
        description: '',
        direction:'',
        price: '',
        date:this.getCurrentDate(),
        customer: '',
        status: '',
        note:'',
        of_user: this.$page.props.auth.user.id,
      }),
    }
  },
  props:{
    districtHcm:Array,
    types: Object,
    directions: Object,
    status: Object,
    users: Object
  },
  methods: {
    dateClicked(date){
      this.form.date = moment(date).format('YYYY-MM-DD');

      // Close the date picker menu
      if (this.$refs.datepicker) {
        this.$refs.datepicker.closeMenu();
      }
    },
    store() {
      this.form.date = moment(this.form.date).format('YYYY-MM-DD HH:mm:ss');
      this.form.post('/customers')
    },
    handleChangeTag(tags) {
      this.form.phones = tags;
    },
    setPhone(){

    },
    customValidate(value) {
      const regex = new RegExp(/^(0|\+84)\d{9,10}$/);
      return regex.test(value)
    },
    getCurrentDate() {
      let today = new Date().toISOString().slice(0, 10)

      return today;
    }
  },

  computed: {
    formattedInputValue() {

      const value = parseFloat(this.form.price.replace(/,/g, ""));

      if (isNaN(value)) {
        return "";
      }
      const formatter = new Intl.NumberFormat("en-US");
      console.log(formatter.format(value))
      return formatter.format(value);
    },

  }
}
</script>
<style>
.dp__pointer{
  height: 42px;
}
.dp__action_row{
  display: none;
}
.v3ti{
  border-color:#9ca3af36;
}
.v3ti:focus,.v3ti:active, .v3ti:focus-visible{
  border-color: rgba(59, 130, 246, 0.5);
}
.v3ti .v3ti-new-tag{
  margin:0;
  height: unset;
}
.v3ti.form-input{
  padding: .15rem;
  height: 2.55rem;
}
</style>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
