<template>
  <div>
    <Head title="properties" />
    <div class="flex flex-wrap items-center w-full mb-3 justify-between bg-search  p-3">

      <h1 class=" text-3xl font-bold">Khách hàng</h1>
      <Link class="btn-indigo" href="/customers/create">
        <span>Tạo</span>
        <span class="hidden md:inline">&nbsp;Khách Hàng </span>
      </Link>
    </div>

    <div class="md:p-5 pt-0 bg-search mt-4 md:p-1">
      <div class="search-box-item bg-search">
        <div class="grid md:grid-cols-12 gap-2">
          <div class="bg-search md:col-span-5 sm:col-span-1">
            <div class="form-group ">
              <label class="control-label ">Từ khoá</label>
              <div class="relative mt-2">
                <input type="search" id="default-search" v-model="form.search"
                       class="block w-full form-input pr-9"
                       placeholder="Nhập vào từ khóa..." required>
                <div class="absolute inset-y-0 right-4 flex items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                       stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="bg-search md:col-span-4">
            <div class="relative ">
              <label class="form-label">Quận/Huyện:</label>
              <multiselect
                v-model="form.district"
                :multiple="true"

                placeholder="Tìm kiếm nhiều quận "
                :options="districtHcm">
              </multiselect>
            </div>
          </div>
          <div class="bg-search md:col-span-3 ">
            <label class="form-label">Trạng thái:</label>
            <select v-model="form.status" class="form-select mt-1 w-full">
              <option value="">Chọn trạng thái</option>
              <option :value="index" v-for="(direction,index) in this.status" :key="index">{{ direction }}</option>
            </select>

          </div>

        </div>
        <div class="grid md:grid-cols-12 gap-2 mt-2">
          <div class="bg-search md:col-span-2">
            <text-input type="number" v-model="form.from_price"
                        class="  w-full" label="Giá từ"/>
          </div>
          <div class="bg-search md:col-span-2">
            <div class="md:flex flex-nowrap items-center">
              <text-input type="number" v-model="form.to_price"
                          class="w-full sm:mb-4" label="Giá tới"/>
            </div>
          </div>
          <div class="bg-search md:col-span-2">
              <div class="w-full min-height">
                <label class="form-label"  >Từ ngày</label>
                <VueDatePicker v-model="form.from_date" format="dd/MM/yyyy" ref="datepicker"  @date-update="dateClicked"
                               :action-row="{ showNow: false, showPreview: false  }"></VueDatePicker>
              </div>
          </div>
          <div class="bg-search md:col-span-2">
            <div class="w-full min-height">
              <label class="form-label"  >Tới ngày</label>
              <VueDatePicker v-model="form.to_date" format="dd/MM/yyyy" ref="datepicker1"  @date-update="dateClicked1"
                             :action-row="{ showNow: false, showPreview: false  }"></VueDatePicker>
            </div>
          </div>
          <div class="bg-search md:col-span-2 ">
            <label class="form-label">Lọc theo sale:</label>
            <select v-model="form.sale" class="form-select mt-1 w-full">
              <option value="">Chọn sale</option>
              <option :value="index" v-for="(direction,index) in this.sales" :key="index">{{ direction }}</option>
            </select>

          </div>
          <div class="bg-search md:col-span-2">
            <label class="form-label" >Xóa tìm kiếm</label>
            <button class="btn btn-primary btn-full h-10 w-full" @click="searchHandler">Thiết lập lại
            </button>
          </div>
        </div>
      </div>
    </div>
    <h4 class="my-3 p-4 bg-search my-2">
      Tìm thấy <strong>{{customers.total}}</strong> trên tổng số: {{total}} Khách hàng

    </h4>
    <div class="mb-5 text-1xl font-bold bg-search md:flex justify-between items-center  px-2" v-if="$page.props.auth.user.owner === 2">
      <div class="form-group__content md:mb-0 sx:mb-3">
        <div class="select--arrow">
          <select name="sort_by" id="showing" class="form-select" v-model="form.numberPaginate">
            <option value="">Hiển thị &nbsp</option>
            <option value="16">16</option>
            <option value="32">32</option>
            <option value="48">48</option>
            <option value="76">76</option>
          </select>
        </div>
      </div>
     <div class="my-2" >
       <button class="btn btn-primary btn-full mr-4" @click="deleteSelected"> Xóa Khách hàng đã chọn</button>
     </div>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">

      <table class="w-full whitespace-nowrap">
        <thead>
        <tr class="text-left font-bold">
          <th class="p-1 form-checkbox pb-4 pt-6 px-2 ">
            <div>
              <input id="html" v-model="allChecked" class="mr-1" type="checkbox" @change="toggleAll" :checked="isAllChecked" />
              <label for="html"></label>
            </div>
          </th>
          <th class="pb-4 pt-6 ">Sale</th>
          <th class="pb-4 pt-6 px-2" >Số điện thoại</th>
          <th class="pb-4 pt-6 px-4 text-center">Nội dung</th>
          <th class="pb-4 pt-6 px-2 w-25 text-center">Note </th>
          <th class="pb-4 pt-6 px-4 w-25">Quận </th>
          <th class="pb-4 pt-6 px-2 text-center">Giá cả</th>
          <th class="pb-4 pt-6 px-4 text-center">Trạng thái</th>
          <th class="pb-4 pt-6 px-2">Hành động</th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="customer in customers.data" :key="customer.id" class="hover:bg-gray-100 focus-within:bg-gray-100" :class="{'hot': customer.status === 2}">
          <td class="border-t p-1 form-checkbox pb-4 pt-6 px-2">
            <input :id="customer.id" v-model="customer.checked" class="mr-1" type="checkbox" />
            <label :for="customer.id"></label>
          </td>
          <td class="border-t">
            <Link class="flex items-center  pr-4 focus:text-indigo-500" :href="`/customers/${customer.id}/edit`">
              {{ customer.user ? customer.user.first_name + ' ' + customer.user.last_name : 'Chưa có sale' }}
            </Link>
          </td>
          <td class="border-t">
            <a class="font-bold" :title="customer.phone" :href="`tel:${customer.phone}`">{{ customer.phone }} &nbsp;</a>
          </td>
          <td class="border-t">
            <div class="description-customer">
              <p v-html="this.parsedBody(customer.description)"></p>
            </div>
          </td>
          <td class="border-t text-center">
            <!-- Component Start -->
            <div class="relative py-3 sm:max-w-xl sm:mx-auto" v-if="customer.note">
              <div class="group cursor-pointer relative inline-block">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
                <div class="opacity-0  text-left bg-black text-white text-xs rounded-lg py-2
                absolute z-10 group-hover:opacity-100 bottom-full px-3 pointer-events-none text-note">
                  <p v-html="this.parsedBody(customer.note)"></p>
                  <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
                </div>
              </div>
            </div>

            <!-- Component End  -->
          </td>
          <td class="border-t text-center">
            {{ customer.district}}
          </td>

          <td class="border-t text-center">
            {{ customer.price}}
          </td>

          <td class="border-t text-center">
            <customer-status :status="customer.status"></customer-status>
          </td>
          <td class="w-px border-t ">
            <div class="flex justify-between items-center">

              <Link class="flex items-center px-2" :href="`/?customers=${customer.id}`" tabindex="-1">
                <button class=" btn btn-primary" >
                  <icon name="up" class="block w-6 h-6 fill-white" />
                </button>
              </Link>
              <button class=" btn btn-danger" @click="showAlert(customer.id)" v-if="this.$page.props.auth.user.owner === 2" >
                <icon name="trash" class="block w-6 h-6 fill-white" />
              </button>
              <Link class="flex items-center px-2" :href="`/customers/${customer.id}/edit`" tabindex="-1">
                <button class=" btn btn-primary" >
                  <icon name="edit" class="block w-6 h-6 fill-white" />
                </button>
              </Link>
            </div>
          </td>
        </tr>
        <tr v-if="customers.data.length === 0">
          <td class="px-6 py-4 border-t text-center" colspan="7">Chưa có Khách hàng.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <Pagination class="mt-6" :links="customers.links" />

    <ModalAlert :isOpen="this.isOpen"  @clicked="isOpen = !isOpen" :idDelete="idDelete" :ids="ids" url="delete-customers"></ModalAlert>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'
import LoadingButton from '@/Shared/LoadingButton'
import ModalFile from '@/Shared/ModalFile'
import Status from "../../Shared/Status";
import ModalAlert from "../../Shared/ModalAlert";
import Multiselect from 'vue-multiselect';
import CustomerStatus from "../../Shared/CustomerStatus";
import TextInput from '@/Shared/TextInput';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import moment from 'moment';
export default {
  components: {
    CustomerStatus,
    ModalAlert,
    Status,
    Head,
    Icon,
    Link,
    Pagination,
    SearchFilter,
    LoadingButton,
    ModalFile,
    Multiselect,
    TextInput,
    VueDatePicker
  },
  layout: Layout,
  props: {
    filters: Object,
    customers: Object,
    districtHcm:Object,
    sales: Object,
    status: Object,
    total: Number
  },
  data() {
    return {
      form: {
        search: this.filters.search,
        district: this.filters.district,
        sale: this.filters.sale ?? "",
        from_price: this.filters.from_price,
        to_price: this.filters.to_price,
        from_date: this.filters.from_date,
        to_date: this.filters.to_date,
        status: this.filters.status,
        description: this.filters.description,
        numberPaginate: this.filters.numberPaginate ?? "",
      },
      isOpen:false,
      idDelete:'',
      ids:[],
      isAdmin: this.$page.props.auth.user.owner === 2,
      movedItems: [],
      allChecked: false
    }
  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/customers', pickBy(this.form), { preserveState: true })
      }, 150),
    },
    isAllChecked(newVal) {
      this.allChecked = newVal;
    }
  },
  computed: {
    isAllChecked() {
      return this.customers.data.length && this.customers.data.every(customer => customer.checked);
    }
  },
  methods: {
    dateClicked(date){
      this.form.from_date = moment(date).format('YYYY-MM-DD');
      // Close the date picker menu
      if (this.$refs.datepicker) {
        this.$refs.datepicker.closeMenu();
      }
    },
    dateClicked1(date){
      this.form.to_date = moment(date).format('YYYY-MM-DD');

      // Close the date picker menu
      if (this.$refs.datepicker1) {
        this.$refs.datepicker1.closeMenu();
      }
    },
    deleteSelected(){
      this.ids = [];
      const selectedIds = this.customers.data.filter(customer => customer.checked).map(customer => customer.id);
      if(selectedIds.length > 0){
        this.ids = selectedIds;
        this.isOpen = true;
        this.idDelete = 'customers/all';
      }else {
        alert("Vui lòng chọn khách hàng cần xóa")
      }
    },
    deleteAll(){
      this.isOpen = true;
      this.idDelete = 'all';
    },
    toggleAll(event) {
      const isChecked = event.target.checked;
      this.customers.data.forEach(customer => {
        customer.checked = isChecked;
      });
    },
    moveSelected() {
      const selectedItems = this.items.filter(item => item.checked);
      this.movedItems.push(...selectedItems);
      this.items = this.items.filter(item => !item.checked);
    },
    reset() {
      this.form = mapValues(this.form, () => null)
    },
    uploadExcel(){
      this.$refs.file.click()
    },
    formattedInputValue( number) {
      const value = parseFloat(number.replace(/,/g, ""));

      if (isNaN(value)) {
        return "";
      }
      const formatter = new Intl.NumberFormat("en-US");
      return formatter.format(value);
    },
    showAlert(id){
      this.isOpen = true;
      this.idDelete = 'customers/'+id;
    },
    searchHandler() {
      this.form = mapValues(this.form, () => "")
    },
    parsedBody(text){
      if (text){
        return text.replace(/\n/g,"<br>")
      }
      return '';
    },

  },
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style>
.search-customer{
  height: 40px;
  min-width: 20rem;
}
.description-customer{
  white-space: normal;
  line-height: 1.4rem;
  max-width: 34rem;
  min-width: 18rem;
}
tr.hot{
  background-color: #ffedd5;
}
.dp__pointer{
  height: 42px;
}
.text-note{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.min-height{
  min-height: 44px;
}
@media only screen and (max-width: 600px) {
  .search-box-item {
    padding: 0.5rem;
  }
}

.form-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-checkbox label {
  position: relative;
  cursor: pointer;
}

.form-checkbox label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 5px;
  height: 9px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
</style>
